/**
Cascading Style Sheet for Portfolio Home Page
*/

/**Rules for Header Section*/


/**Rule to make the website readable to mobile phones*/
@media (max-width:768px) {
    .menu-bar{
        flex-direction: column;
        align-items: center;
    }

    .menu-icon{
        position:absolute;
        top:10px;
        right:10px;

    }

    .heading-section h2{font-size: 1.2rem;}

    .heading-section h5{font-size: 0.8rem;}

    #menu-items{
        width:100%;
        right:0;
        text-align: center;
    }

    #menu-items li{padding: 10px 0;}
    
}


.work-role, main div h4,main div ul,.degree,main div h3,.tech-skills,.soft-skills{
    margin-left: 5%;
    margin-right: 5%;

}
main div p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

main h2{
    position: relative;
    left: 10px;

}

.project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    color: rgb(19, 10, 10);
    background-color: #c5a7ff;
    position: relative;
    
   
}
.project-content{
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffff;
    color: black;
}

.project-header button{
    background-color: aliceblue;
    border-radius: 8px;
}

.technical-skills,.tools{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap:10px; /*Adds spacing between the items*/
    padding: 10px;
    background-color: inherit;
    margin-left: 5%;
    margin-right: 5%;
}

.technical-skills div, .tools div{
    padding: 50px;
    text-align: left;
    background-color: inherit;
    color: inherit;
}

.technical-skills div img, .tools div img{
    width : 50px;
    height: 50px;;
}
#foot{
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    margin-left:2%;
    margin-right: 2%;
    display: flex;
    
}

footer{
    background-color: #1A1136;
    width:100%;
    color:white;
    bottom:0;
    left:0;

}
#foot div a img{
    width : 30px;
    height: 30px;;
}
.schools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.schools img{
    width: 70px;
    height: 70px;
}

.work-header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;

}
.work-role{
    display: flex;
    align-items: right;
    position: relative;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

main{

    background-color: #e4e4e4;
    color:rgb(32, 31, 31);
    width:100%;
    left:0;
    position: relative;
    top: 50px;
    right:0;
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    color: white;
    background-color:#1A1136;
    scroll-behavior:smooth;
    scrollbar-color: red;
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 1000;/*Ensures the menu bar appears above all other content*/

}

.welcome-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
}
.welcome-section img{
    width: 300px;
    height: 250px;
    position: relative;
    left: 40px
}
.welcome-section p{
    position: relative;
    right: 60px;
    width: 55%;
}
.mission-section{
    padding:  10px 20px;
}

#mission-statements{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr)); /*ensures that the grid adjust automatically based on screen size*/
    gap:10px; /*Adds spacing between the items*/
    padding: 10px;
    background-color: inherit;
}

#mission-statements div{
    padding: 20px;
    text-align: left;
    background-color: inherit;
    color: inherit;
}

#mission-statements div img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    
}

.projects{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap:100px;
    padding:100px;
    background-color: inherit;
    margin-left: 5%;
    margin-right: 5%;
}

.projects div{
    padding:30px;
    text-transform: center;
    background-color: inherit;
    color:inherit;
}

.projects div button img, .project-header img{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.projects div button{
    border: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: inherit;
}

.download-button{
    margin-left: 35%;
    position: relative;
    color:white;
    background-color: rgba(11, 4, 78, 0.945);

}

.project-summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    color: black;
    background-color:inherit;

}


.heading-section{
    text-align: center;
    flex: 1;
}

.heading-section h2{
    margin: 0;
    font-size: 1.5rem;
    font-family: Snell Roundhand;
}
.heading-section h5{
    margin: 5px 0 0;
    font-size: 0.9rem;
    color:#ccc
}

.menu-icon{
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color:rgb(255, 255, 255);
    position: relative;
    right: 20px;

}

#menu-items{
    list-style: none;
    margin: 0;
    padding: 2px;
    position: absolute;
    top:50px;
    right:20px;
    background-color: #f0dddd;
    border: 1px solid #725050;
    border-radius:5px;
    z-index: 1000;

    /*transition: opacity 0.5s ease, transform 0.3s ease;*/

}

#menu-items li{
    padding: 10px 20px
}

#menu-items li a{
    text-decoration: none;
    color:rgb(36, 77, 190);
}

.hidden{
    display:none;
}